version: '3.8'

services:
  db:
    image: postgres:15-alpine
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    ports:
      - "5432:5432"
    healthcheck:
          test: ["CMD-SHELL", "pg_isready -U $$POSTGRES_USER -d $$POSTGRES_DB"]
          interval: 5s
          timeout: 5s
          retries: 5

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile.backend
    command: >
          sh -c "./wait-for-it.sh db 5432 --timeout=60 --
                 python manage.py migrate &&
                 python manage.py createadmin &&
                 python manage.py createstudents &&
                 python manage.py createcourses &&
                 python manage.py createenrollments &&
                 python manage.py createsuperuser --noinput || true &&
                 gunicorn student_management.wsgi:application --bind 0.0.0.0:8000 --reload"
    volumes:
      - ./backend:/app
    ports:
      - "8000:8000"
    environment:
      DJANGO_SECRET_KEY: ${DJANGO_SECRET_KEY}
      DJANGO_DEBUG: ${DJANGO_DEBUG}
      DB_NAME: ${DB_NAME}
      DB_USER: ${DB_USER}
      DB_PASSWORD: ${DB_PASSWORD}
      DB_HOST: db
      DB_PORT: ${DB_PORT}
    depends_on:
     db:
      condition: service_healthy
    env_file:
      - ./.env

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile.frontend
    ports:
      - "3000:3000"
    environment:
      NEXT_PUBLIC_API_URL: http://localhost:8000 
    depends_on:
      - backend
    stdin_open: true 
    tty: true

volumes:
  postgres_data: